.auth__main {
	align-items: center;
	background-color: $primary;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.auth__box-container{
  background-color: $white;
  border-radius: 5px;
  box-shadow: 5px 10px 40px rgba(54, 54, 54, 0.25);
  max-width: 30rem;
  padding: 1.2rem;
}
.auth__title{
  color: $tertiary;
  margin-bottom: 2rem;
}
.auth__input{
  color: $dark-grey;
  border: 0px;
  border-bottom: 2px solid $light-grey;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  height: 1.25rem;
  width: 100%;

  &:focus{
    border-bottom: 2px solid $secondary;
    outline: none;
  }
}

.auth__social-networks{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 1.25rem;
  width: 100%;
}

.auth__alert-error{
  background-color: $red;
  border-radius: 5px;
  color: $white;
  display: flex ;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.auth__loading{
  background-color: $white;
  border-radius: 5px;
  box-shadow: 5px 10px 40px rgba(54, 54, 54, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  min-height: 15rem;
  padding: 2rem;
  gap: 2rem;

  h1{
    width: 100%;
    text-align: center;
    color: $dark-grey;
  }
}
.auth__spinner {
  width: 70px;
  text-align: center;
}

.auth__spinner > div {
  width: 18px;
  height: 18px;
  background-color: $tertiary;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.auth__spinner .auth__bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.auth__spinner .auth__bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}