.btn {
	background-color: transparent;
	border: none;
	color: $dark-grey;
	cursor: pointer;
	font-size: 0.8rem;
	padding-block: 0.8rem;
	padding-inline: 1rem;

	transition: color 0.3s ease;

	&:focus {
		outline: none;
	}
	&:hover {
		color: lighten($color: $dark-grey, $amount: 30);
	}
}

.btn-primary {
	background-color: $primary;
	border: 1px solid transparent;
	border-radius: 5px;
	font-weight: 700;
	&:disabled {
		background-color: lighten($color: $secondary, $amount: 15);
	}
	&:hover {
		background-color: darken($color: $secondary, $amount: 15);
	}
	&:focus {
		border: 1px solid $tertiary;
	}
}

.btn-danger{
	background-color: $red;
	border-radius: 100vw;
	color: $white;
	margin: 1rem;
	align-self: end;
	transition: background-color .3s ease;
	text-align: center;
	max-width: 5rem;

	&:hover{
		background-color:darken($color: $red, $amount: 10) ;
		color: darken($color: $white, $amount: 10);
	}
}

.btn-block {
	width: 100%;
}

.btn-save{
	background-color: $tertiary;
	border-radius: 100vw;
	color: $white;
	font-weight: 700;
	&:hover{
		background-color:darken($color: $tertiary, $amount: 10) ;
		color: darken($color: $white, $amount: 10);
	}
}
.btn-image{
	color: $dark-grey;
}

.google-btn {
	align-items: center;
	background-color: $google-blue;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	width: 100%;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;

	&:disabled {
		background-color: lighten($color: $google-blue, $amount: 15);
	}

	.google-icon-wrapper {
		background-color: $white;
		border-radius: 2px;
		height: 2.5rem;
		width: 2.5rem;
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 2px;
	}
	.google-icon {
		width: 2rem;
	}
	.btn-text {
		color: $white;
		font-size: 1rem;
		letter-spacing: 0.2px;
		text-align: center;
		width: 100%;
	}
	&:hover {
		background-color: darken($color: $google-blue, $amount: 15);
		box-shadow: 0 0 6px $google-blue;
	}
	&:active {
		background: $button-active-blue;
	}
	&:focus {
		background-color: darken($color: $google-blue, $amount: 15);
		box-shadow: 0 0 6px $google-blue;
		outline: none;
	}
}
